.menubutton {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 1,1,1,1;
    -fx-font-family: "Oxygen Light";
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.menubutton:hover{
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 2,2,2,2;
    -fx-background-radius: 5,5,5,5;
    -fx-font-family: "Oxygen Light";
    -fx-font-size: 20px;
    -fx-text-fill: white;
}

.menubutton:pressed{
	-fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 2,2,2,2;
    -fx-background-radius: 5,5,5,5;
    -fx-font-family: "Oxygen Light";
    -fx-font-size: 20px;
    -fx-text-fill: black;
	
}

.vbox{
	-fx-background-color: white;
}

.background{
	 /* later use for color picker:
	  * light grey: linear-gradient(#ffffff 0%, #ffffff 24%, #f2f2f2 50%, #e5e5e5 79%, #a0a0a0 100%);
	  (#3333ff 0%, #0000ff 24%, #0000cc 50%, #000099 79%, #000066 100%);
	  * */
	-fx-background-color:
	linear-gradient(#3333ff 0%, #0000ff 24%, #0000cc 50%, #000099 79%, #000066 100%);

	
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-pref-width: 165px;
    -fx-pref-height: 80px;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}